.character-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.85);
  padding: 2rem 1rem;
  margin: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.character-item-container:hover {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 1s ease;
}

.character-item-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.character-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid gray;
}

.character-item-name {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
}

.character-item-fav {
  position: absolute;
  top: 3px;
  right: -3px;
}