.entryCard-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

  background-color: rgba(250, 250, 250, 0.85);
  padding: 60px 40px 20px 40px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entryCard-form-header p {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.entryCard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.entryCard-container button {
  margin-top: 40px;
  padding: 15px;
  width: 100%;
  border: 0px solid transparent;
  border-radius: 10px;
  background-color: #028b7b;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.entryCard-container button:hover {
  background-color: #015e52;
}

.entryCard-register-sub {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

.entryCard-register-sub p {
  margin-right: 5px;
}

form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
}

form input {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
  padding-left: 0px;
  border: 0px solid transparent;
  border-bottom: 1px solid #1b1b1b;
  background-color: transparent;
  width: 100%;
}

form input:focus {
  outline: none;
}